:root {
  --button-header-color: #ffffff;
  --header-text: #ffffff;
  --header-accent-color: #2196f3;
  --header-bg-button: #2196f3;
  --header-contact: #757575;
  --header-second-text: #212121;
  --first-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-bg-color: rgba(33, 150, 243, 0.9);
  --first-titel-color: #212121;
  --second-titel-color: #757575;
  --third-titel-color: #ffffff;
  --button-color: #2196f3;
  --button-second-color: #f5f4fa;
  --button-color-text: #212121;
  --button-second-color-text: #ffffff;
  --accent-color: #2196f3;
  --footer-first-color: #ffffff;
  --footer-second-collor: rgba(255, 255, 255, 0.6);
  --first-color-logo: #2196f3;
  --second-color-logo: #000000;
  --third-color-logo: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--first-bg-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

/*----------------- heder -----------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.header-container-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--first-color-logo);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-black {
  color: var(--second-color-logo);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-white {
  color: var(--third-color-logo);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-link:hover,
.header-link:focus,
.header-social-link:hover,
.header-social-link:focus {
  color: var(--header-accent-color);
}

.header-item {
  display: inline-flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--header-accent-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-contact {
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.header-link {
  position: relative;
  color: var(--header-second-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-icon {
  margin-right: 10px;
}

.header-social-icon {
  fill: #afb1b8;
}

.header-social-link:hover .header-social-icon,
.header-social-link:focus .header-social-icon {
  fill: var(--header-accent-color);
}

.overlay {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  min-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid black;
  box-sizing: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.header-social-link {
  color: var(--header-contact);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:not(:first-child) {
  margin-left: 50px;
}

.header-section-element {
  color: var(--header-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}

.header-button {
  color: var(--button-header-color);
  background-color: var(--header-bg-button);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
}

/* --------------------  hero -----------------*/

.hero {
  padding-top: 82px;
  padding-bottom: 94px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-social-bottom {
  background-color: var(--third-bg-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hero-titel {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--first-titel-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-item {
  flex-basis: 270px;
}
.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-text {
  color: var(--second-titel-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.hero-list {
  display: flex;
}

/*------------------- about us ----------------*/

.about {
  padding-bottom: 106px;
}

.about-container {
  align-self: center;
}

.about-list {
  display: flex;
  align-self: center;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.about-product {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-titel-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-titel {
  color: var(--first-titel-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/*-------------------- team ----------------*/

.team {
  background-color: var(--third-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--first-bg-color);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-item:not(4n) {
  margin-left: 0px;
}

.team-item-bottom {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-titel {
  color: var(--first-titel-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 50px;
}

.team-name {
  color: var(--first-titel-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  color: var(--second-titel-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms linear, background-color 250ms linear,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--button-second-color);
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill 250ms linear, background-color 250ms linear,
    cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------clients---------------------*/

.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-social-list {
  display: flex;
  justify-content: center;
}

.clients-social-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms linear, outline 250ms linear,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-social-item {
  width: 170px;
  height: 92px;
}

.clients-social-item:not(:last-child) {
  margin-right: 30px;
}
.clients-social-icon {
  fill: #afb1b8;
  transition: fill 250ms linear, outline 250ms linear,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-social-link:hover .clients-social-icon,
.clients-social-link:focus .clients-social-icon {
  fill: var(--accent-color);
}
.clients-social-link:focus,
.clients-social-link:hover {
  outline: 1px solid #2196f3;
}
/*------------------- fillters -------------------*/

.fillters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.fillters-list {
  display: flex;
  justify-content: center;
}

.fillters-item:not(:last-child) {
  margin-right: 8px;
}

.fillters-button:hover,
.fillters-button:focus {
  background-color: var(--button-color);
  color: var(--button-second-color-text);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.fillters-button {
  background-color: var(--button-second-color);
  color: var(--button-color-text);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  display: inline-block;
  transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------- portfolio -----------------*/

.portfolio-container {
  margin-top: 50px;
}

.portfolio-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.portfoloi-item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 37px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoloi-item:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  align-content: center;
  justify-content: center;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms linear;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--third-titel-color);
  background: var(--accent-bg-color);
}

.portfoloi-item:hover,
.portfoloi-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-part {
  padding: 24px 20px 24px 20px;
}

.portfoloi-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-titel {
  color: var(--first-titel-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  color: var(--second-titel-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* -------------------- footer ---------------*/

.footer {
  background-color: var(--second-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 1px;
}

.footer-logo {
  color: var(--first-color-logo);
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  color: var(--footer-first-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  color: var(--footer-second-collor);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms linear, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-adress:hover,
.footer-adress:focus {
  color: var(--header-accent-color);
}

.join-box {
  margin-left: 70px;
}

.join-text {
  color: var(--footer-first-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer-list {
  display: flex;
  align-self: center;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-contacts {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms linear, background-color 250ms linear,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-contacts:hover,
.footer-social-contacts:focus {
  background-color: var(--accent-color);
}

.footer-social-contacts:hover .footer-social-contacts,
.footer-social-contacts:focus .footer-social-contacts {
  fill: var(--button-second-color);
}

.footer-social-contacts {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
