.fillters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.fillters-list {
  display: flex;
  justify-content: center;
}

.fillters-item:not(:last-child) {
  margin-right: 8px;
}

.fillters-button {
  background-color: var(--button-second-color);
  color: var(--button-color-text);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  display: inline-block;
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--button-color);
    color: var(--button-second-color-text);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
